body {
   margin : auto;
}
main {
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    text-align: center;
    font-family: honk, sans-serif;   
}
.navbar ul {
    list-style-type: none;
    background-color: rgba(124, 119, 119, 0.888)egrey;
    padding: 0px;
    margin: 0px;
    overflow:hidden;
}
/*vertical style navigation bar*/
.navbar a {
    background-color: rgb(44, 30, 30);
    color: rgb(215, 159, 159);
    text-decoration: none;
    padding: 15px;
  display: inline-block;
    text-align: center;
}
.navbar a:hover {
    background-color: rgba(0, 0, 0, 0.584);
}
.navbar li {
   float : left;
}
/*for compatibility with all devices you would want to do 
something like this : 
@media screen and (max-width:600px) {
     aside,section, article {
        width: 100%;
       ** this is known as responsive css
     }
}*/
.gallery {
    display: inline-block;
    border: 1px solid hsla(0, 0%, 60%, 0.991);
    margin: 5px;
}
.gallery .description {
    padding: 10px;
    text-align: center;
}
.gallery:hover {
    border: 1px solid hsla(0, 0%, 30%, 0.991)
}
.gallery img {
    width:100%;
    height: auto;
}